body {
    background-color: #302D47;
    font-family: 'Poppins', sans-serif;
}

.conteiner-center {
    max-width: 1366px;
    margin: 0 auto;
}

.logo {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin-right: 45px;
}

.logo-title {
    font-size: 51px;
    font-weight: 900;
}

.logo-sub-title {
    font-size: 11px;
    color: #BFBFBF;
}

.welcome {
    color: #BFBFBF;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 22px 15px 0 15px;
    justify-content: space-between;
    margin-bottom: 43px;
}

.button {
    background-color: #6C63FF;
    border: 1px solid #6C63FF;
    color: #ffffff;
    padding: 17px 33px;
    font-size: 20px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition-duration: 300ms;
    margin-right: 15px;
}

.container-top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: transparent;
    color: #6C63FF;
}

.button--red {
    background-color: #EE4C4C;
    border: 1px solid #EE4C4C;
}

.button--red:hover {
    background-color: transparent;
    color: #EE4C4C;
}

.button-header-wrapper {
    display: flex;
    background-color: transparent;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.image {
    width: 200px;
}

.product {
    border: 1px solid transparent;
    width: 355px 439px;
    box-sizing: border-box;
    margin: 27px 31px;
    justify-content: space-evenly;
}

.top-wrapper:hover {
    background-color: transparent;
}

.line {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 59px;
}


/* fieldset { 
    display: flex;
}*/


/* .button--search {
    background-color: #3F3D56;
    border: 1px solid #3F3D56;
    color: #ffffff;
    width: 375px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    transition-duration: 300ms;
    margin-right: 19px;
    text-align: left;
} */

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
}

.product {
    width: fit-content;
    padding: 26px 19px;
    border-radius: 16px;
}

.product-wrapper {
    background-color: #BFBFBF2E;
}

.product-wrapper:hover {
    background-color: rgb(185, 181, 255, 0.18);
    transition-duration: 300ms;
}

.name {
    color: #BFBFBF;
    font-size: 20px;
}

.value {
    color: #BFBFBF;
    font-size: 20px;
    margin-bottom: 29px;
}

.option {
    display: flex;
    justify-content: space-around;
}

.store {
    color: #ffffff;
    font-size: 32px;
}

.button--small {
    font-size: 14px;
    height: 50px;
}

.field {
    height: 50px;
    width: 375px;
    background-color: #3F3D56;
    border: 1px solid #3F3D56;
    border-radius: 7px;
    padding-left: 22px;
    box-sizing: border-box;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    transition-duration: 300ms;
}

.field::placeholder {
    color: #8D8BA4;
}

.field:focus {
    border: 1px solid #6C63FF;
}

.button-box {
    display: flex;
}

.field--search {
    margin-right: 19px;
    align-items: center;
}